.navbar{
    display: grid;
    place-items: center;
    background-color: var(--color-blue);

    
}
.navbar__container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1290px;
    width: 100%;
    height: 80px;
    gap: 20px
}
.navbar__menu ul{
    display: flex;
    gap: 20px;
    font-size: 20px;
    font-weight: bold;
    list-style: none;
}
.navbar__menu a{
    text-decoration: none;
    color: var(--color-white);
    transition: all 200ms;
}
.navbar__menu a:hover{
    cursor: pointer;
    color: var(--color-salmon);
}
.active{
    color: var(--color-salmon) !important;
}