.greeting{
    text-align: center;
    margin: 40px auto;
    height: 90vh;
    max-width: 1290px;
    padding: 0 20px;
}
.greeting__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 80ch;
    gap: 30px;
    line-height: 1.5;
}
.greeting__text h2{
    font-size: 50px;
    color: var(--color-blue);
}
.greeting__text p{
    font-size: 25px;
    color: var(--color-black);
}
.greeting__text span{
    font-weight: bold;
}