<app-banner [title]="'Home'"></app-banner>

<main class="greeting">
    <div class="greeting__container">
        <div class="greeting__text">
            <span>HI!&#9995;</span>
            <h2>
                We are trying...<br>
                <span>JSON PLACEHOLDER</span> <br>
                Free fake API for testing and prototyping. <br>
                <a href="https://jsonplaceholder.typicode.com/">
                    jsonplaceholder.typicode.com
                </a>
            </h2>
            <h2>
                <span>RANDOM USER GENERATOR</span> <br>
                A free, open-source API for generating random user data <br>
                <a href="https://randomuser.me/">
                    randomuser.me
                </a>
            </h2>
        </div>

        <app-spinner *ngIf="!user && !image"></app-spinner>

        <div class="greeting__user">
            <img [src]="image" alt="">
            <p>{{user | json}}</p>
        </div>
    </div>
</main>