.container {
    text-align: center;
}

.text {
    margin: 0 auto;
    max-width: 80ch;
    line-height: 1.5;
}

.text h2 {
    font-size: clamp(1.1rem, 1.1rem + 1vw, 1.5rem);
    color: var(--color-black);
    margin-top: 40px;
}

.text h2 a {
    font-size: clamp(0.875rem, 0.875rem + 1vw, 1.25rem);
    margin-top: 20px;
}

.text h2 span {
    font-size: clamp(1.25rem, 1.5rem + 1vw, 2rem);
}

.text > span:nth-child(1) {
    font-size: clamp(1.5rem, 2.5rem + 1vw, 3.125rem);
    color: var(--color-primary);
    font-weight: bold;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 50px 0;
}

.user img {
    border-radius: 50%;
    border: 2px solid var(--color-black);
}

.user p {
    max-width: 50ch;
}