
<app-banner [title]="'Home'"></app-banner>


<main class="wrapper">
    <!-- class container is defined globally in styles.css  -->
    <div class="container">

        <section class="text">
            <span>HI!&#9995;</span>
            <h2>
                We are trying...<br>
                <span>JSON PLACEHOLDER</span> <br>
                Free fake API for testing and prototyping. <br>
                <a href="https://jsonplaceholder.typicode.com/">
                    jsonplaceholder.typicode.com
                </a>
            </h2>
            <h2>
                <span>RANDOM USER GENERATOR</span> <br>
                A free, open-source API for generating random user data <br>
                <a href="https://randomuser.me/">
                    randomuser.me
                </a>
            </h2>
        </section>
        
        
        <app-spinner *ngIf="!user && !image"></app-spinner>
        
        
        <section class="user">
            <img [src]="image" alt="">
            <p>{{user | json}}</p>
        </section>
   
    </div>
</main>
    