<app-banner [title]="'Home'"></app-banner>

<main class="greeting">
    <div class="greeting__container">
        <div class="greeting__text">
            <h2>HI!</h2>
            <p>
                We are trying...<br>
                <span>JSON PLACEHOLDER</span> <br>
                Free fake API for testing and prototyping. <br>
            </p>
            <p>
                <span>RANDOM USER GENERATOR</span> <br>
                A free, open-source API for generating random user data
            </p>
        </div>

        <app-spinner *ngIf="!user && !image"></app-spinner>

        <div class="greeting__user">
            <img [src]="image" alt="">
            <p>{{user | json}}</p>
        </div>
    </div>
</main>