*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}

:root{
    --color-primary: #50B2C0;
    --color-secondary: #9650c0;
    --color-white: #f8f8f8;
    --color-black: #242424;
    --color-salmon: #FAAA8D;
    --color-green: #D7FCB4;
    --color-pink: #FDCFF3;
}

.container{
    max-width: 1290px;
    min-height: 80vh;
    margin: 40px auto;
    padding: 0 20px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

input[type="submit"],
button {
    width: 100px;
    background: var(--color-secondary);
    color: var(--color-white);
    border: none;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px 0;
    box-shadow: 0 0 5px #ccc;
}

input[type="submit"]:hover,
button:hover {
    cursor: pointer;
}
