*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root{
    --color-primary: #50B2C0;
    --color-secondary: #FAAA8D;
    --color-white: #FEEFDD;
    --color-black: #201E1F;
    --color-salmon: #FAAA8D;
    --color-green: #D7FCB4;
    --color-pink: #FDCFF3;
}
